<ng-container *ngIf="isMenuNeeded">
        <app-nav-bar></app-nav-bar>
</ng-container>
<div class="contact-banner about-banner">
    <div class="contact-banner-part">
        <img src="assets/images/contact-banner.png">
    </div>
</div>
<div class="sign-up-firm-main-part contact-page-main-dtl about-page-main-dtl">
    <div class="sign-up-container">
        <div class="sign-up-firm-mid-sec-part">
            <div class="col-lg-5 col-md-5 cl-sm-5 col-xs-12 p_0">
                <div class="sign-up-firm-right-main-part help-page">
                    <div class="contact-form-dtl-main">
                        <h5>About Us </h5>
                        <h2>Top of Mind was created by professional accountants, for professional accountants. </h2>
                        <p>Starting a business may not always have been top of mind for us, but it was certainly at the back
                            of it. With a collective 15 years' experience in the industry and a background in teaching at
                            some of Canada's most prestigious universities, we started Top of Mind so that we could empower
                            you.
                        </p>
                        <p>Are you an enterprise? You deserve to have the flexibility to acquire the talent you need, whenever
                            you need it. We know that each need can be different, requiring a nuanced set of skills. We want
                            to empower you to find them.</p>
                        <p>Are you an accounting professional? You deserve to have the flexibility to choose your work, and
                            to develop your skills with focused intention, so they can better serve your goals. We want to
                            empower you to chart your own course. </p>
                        <p>Whether you're a firm, a business or an accounting professional, we know that you have your own unique
                            needs. That's why we're redefining flexibility, so you can find just the right fit. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 cl-sm-6 col-xs-12 p_0">
                <div class="sign-up-firm-left-part">
                    <img src="assets/images/about-right-side-pic.png">
                    <div class="about-get-started-btn">
                        <a href="javascript:;" class="form-control l-inp">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>