<ng-container *ngIf="isMenuNeeded">
    <app-nav-bar></app-nav-bar>
</ng-container>
<div class="contact-banner about-banner">
    <div class="contact-banner-part">
        <img src="assets/images/contact-banner.png">
        <div class="privacy-policy-banner-desc-dtl">
            <h2>HOW IT WORKS</h2>
            <div class="faq-tp-btn-part">
                <div class="faq-bg-btn">
                    <a href="javascript:;" class="faq-for-btn">For Business</a>
                </div>
                <div class="faq-bg-btn">
                    <a href="javascript:;" class="faq-for-btn">For Accounting Professional</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sign-up-firm-main-part Faq-page-tp-dtl">
    <div class="sign-up-container">
        <div class="sign-up-firm-mid-sec-part">
            <div class="sign-up-firm-right-main-part">
                <div class="contact-form-dtl-main">
                    <h5>For Business</h5>
                    <div class="faq-part-desc-dtl-main">
                        <div class="col-lg-5 col-md-5 cl-sm-5 col-xs-12 p_0">
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Does it cost anything to sign up? </h2>
                                <p>No, you can sign up for free.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Is there an approval process that a business needs to go through to be registered?  </h2>
                                <p>Yes, our sign up and approval process is quick and easy. All you need to do is sign up here and our Top of Mind team will approve your profile as soon as possible. We will let you know if we require further information, or if you profile is not approved. Top of Mind works diligently to verify the profiles of our members (businesses and professionals too) to ensure this is a reliable and trustworthy meeting place for top industry players.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Can I look for accounting professionals to fill part-time positions using Top of Mind? </h2>
                                <p>Yes, absolutely! Simply specify 'part-time' with the filter and your search results will adjust to those available for part-time work. Once you find an accounting professional, you can work with them on a part-time basis. If your business needs continue to grow, you can invite the professional to work on a full-time basis. Top of Mind offers the flexibility of making choices that are in line with your business needs without compromise!  </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Can professionals be hired for continuous employment on a part-time or full-time basis after the initial introduction is made?  </h2>
                                <p>Yes, definitely. If you want to commit to working with an accounting professional you met on Top of Mind on a continuous basis, we can facilitate that as well. To comply with our <a href="javascript:;">Terms of Use</a>, you will be required to initiate this process by emailing Top of Mind at <a href="javascript:;">ReadyTOhire@topofmind.work</a> and our team will guide you through this process. </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Does the verification process change depending on whether my business is looking for part-time help or a full-time employee? </h2>
                                <p>No, the verification process is the same for all of our professionals on the platform, regardless of whether they are hired full or part-time.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>When do I make a payment? </h2>
                                <p>Before the engagement begins, a payment schedule and all the corresponding invoices will be provided. The deposit payment will be required to commence the project. Payments will remain in a Trust Account of Top of Mind until the professional is fully paid. Invoices can be pre-paid to ensure no interruptions. </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>How do I share my client's information with the professional I contracted if he/she is working remotely?</h2>
                                <p>The choice is yours. Most businesses already have established processes for sharing files - whether it is your business'portal, Dropbox, Google Drive, or email. If you are not sure how to facilitate file transfers, reach out to our Top of Mind team and we will be glad to help.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Do I need to arrange for payment to the professional or does Top of Mind take care of that? </h2>
                                <p>Top of Mind takes care of all the payments to the professional. We know you are busy, and we are here to help! Top of Mind will facilitate all payments to the professional throughout the project.</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 cl-sm-5 col-xs-12 p_0">
                            <div class="privacy-policy-desc-dtl-single-block">
                                <div class="faq-single-block-pic">
                                    <img src="assets/images/faq-part-fr-pic.png">
                                </div>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>How much flexibility is there in defining my staffing needs?</h2>
                                <p>There is unlimited flexibility in specifying what help you require. Whether you are looking to staff one engagement, one week or one month, the choice is yours. Our accounting professionals can work onsite or offsite depending on your needs. The best part is being able to specify and find the skills that must be possessed by the candidate you're looking to hire. </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>I run an online accounting firm / business. Can I register on the platform?  </h2>
                                <p>Absolutely! In fact, many of the accounting professionals on our platform welcome the opportunity to work remotely and therefore, you don't need to have a physical location or office.  </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Can I also look for accounting professionals to fill full-time positions using Top of Mind? </h2>
                                <p>Yes, absolutely! If you are looking to hire a professional for a full-time position, simply specify 'full-time' with the filter and your search results will include candidates available for full-time work. Once you find an accounting professional, you can work with them on a part-time basis before you propose a full-time commitment as well. It's up to you!</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>What kind of verification process do accounting professionals go through?</h2>
                                <p>Top of Mind allows professionals to describe in detail the skills they possess. After a profile is created, the Top of Mind team goes through a thorough verification process that includes employment confirmation, an interview, and a skills assessment. We work diligently to ensure that you have just as much (and in some cases more) information than if your HR team conducted the screening process themselves.</p>
                                <p>All that is left is for you to clearly outline what skills are required and our Top of Mind proprietary search engine will find the perfect match. </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Can I connect with the candidate after I find a great match?</h2>
                                <p>Absolutely! We know that making a personal connection is important. Our team will facilitate a mini-interview between you and the professional. The goal of the meeting is to further discuss the project details to make sure that you're the right fit for each other. This is your chance to ask any questions you have and finalize details like the hours needed, scope of work, and project deadline.</p>
                                <p>After you connect with the accounting professional, you will be asked to either confirm the start of the engagement or decline it.  </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Are professionals required to sign a confidentiality agreement?</h2>
                                <p>At the start of each engagement, professionals are required to sign a Confidentiality Agreement. Having said that, you are also welcome to request that a professional sign your business'confidentiality agreement. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sign-up-firm-right-main-part">
                <div class="contact-form-dtl-main">
                    <h5>For Accounting Professional</h5>
                    <div class="faq-part-desc-dtl-main">
                        <div class="col-lg-5 col-md-5 cl-sm-5 col-xs-12 p_0">
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Does it cost anything to sign up? </h2>
                                <p>No, joining Top of Mind is free! </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>I already have other professional commitments. Does it make sense for me to sign up? </h2>
                                <p>Yes, absolutely. Even if you already have other professional commitments, you can still take advantage of any room in your schedule. Whether you only have 10 hours available on a weekly basis, or your calendar is very open at the moment, Top of Mind allows you to update and adjust your availability accordingly.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>I am looking for a full-time job. Does it make sense for me to sign up?  </h2>
                                <p>Looking for full-time opportunities? You can use the Top of Mind platform to find your perfect job! Just indicate on your profile that you are also open to working full-time! </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>What information do I need to provide to fill out my profile?</h2>
                                <p>The goal is to make your potential clients as comfortable as possible when deciding to engage with an accounting professional-you. This is your opportunity to make your profile stand out from the rest and maximize your chances of being contacted by firms and businesses. To verify your profile and credentials, you will be required to provide comprehensive information about your education and work experience. There will also be an interview and verification process. This information is reviewed by the Top of Mind team to verify your credentials. However, not all of this information will be provided on your public profile and you will have the opportunity to preview your profile before completing your registration. </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Do I have flexibility to set up my rate? </h2>
                                <p>As an independent contractor through Top of Mind, you can set your own rate. Do you have an extra 10, 20, 30 hours weekly that you could use to make an extra $400, $800, $1200? This is your business, so you get to decide everything -your schedule, how to make your profile stand out from the rest, and how much you make. The sky is the limit! </p>
                                <p>Top of Mind helps you promote your services to potential clients in a relatable way, while also adding credibility through the verification process. The rest is up to you. Do great work, get excellent reviews, increase your rating, and increase your hourly rate. What does your flexibility look like?</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>How do I ensure that I get paid?</h2>
                                <p>Before an engagement officially begins, the business will be required to make a deposit. The rest of the payments will be made to Top of Mind throughout the project, and kept in a Trust Account.  You will submit a bi-weekly timesheet and upon confirmation from your client, Top of Mind will e-transfer your payment to your provided email.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>What happens if I run into disagreements with a business?</h2>
                                <p>We take disagreements between businesses and professionals very seriously. We have dedicated resources within Top of Mind to guide businesses and professionals through the conflict resolution process. For more information on this, please check our <a href="javascript:;">Terms of Use</a>.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Do I need to arrange for payment to the professional or does Top of Mind take care of that? </h2>
                                <p>Top of Mind takes care of all the payments to the professional. We know you are busy, and we are here to help! Top of Mind will facilitate all payments to the professional throughout the project.</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 cl-sm-5 col-xs-12 p_0">
                            <div class="privacy-policy-desc-dtl-single-block">
                                <div class="faq-single-block-pic">
                                    <img src="assets/images/faq-part-fr-pic2.png">
                                </div>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>What kind of previous experience do I need to be a member on the Top of Mind platform?</h2>
                                <p>The businesses on Top of Mind will have various needs. That is why, as an accounting professional, your experience and expertise is valuable. Top of Mind makes it as easy as possible for you to promote your skills and make your profile stand out. Ready to fill out your profile? <a href="javascript:;">Click here!</a></p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>I live far from the business centre in my city. Where are most clients located? </h2>
                                <p>Whether you're open to commuting to your client's location, or you want to work from home, Top of Mind allows you to specify your preference to either work onsite or remotely on your profile. Our mission is to redefine flexibility, providing you with the flexibility to decide where and when to do the work. </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>I am only able to work part-time right now but that might change in the future. Can the platform accommodate me? </h2>
                                <p>Flexibility is the name of the game! You can indicate that you are only available on a part-time basis for a specified time period but you can also update it to full-time once you are ready. </p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Why do I need to go through a verification process? What is involved?</h2>
                                <p>The verification process is the key step in ensuring businesses feel confident about hiring through Top of Mind. It saves them time conducting their own due diligence and adds credibility to your profile. This process also ensures that you are able to start work on a project as soon as the need arises.</p>
                                <p>You only have to go through the screening process once (unless significant changes to your profile are made later), so this is one-time investment into your new and exciting virtual office.  </p>
                                <p>Our screening process includes background checks, verification of work history, and a video interview (or virtual interview with one of our team members). After the screening process is completed, businesses trust the professionals on Top of Mind.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>How do I complete the work if I choose to work remotely?</h2>
                                <p>If your preference is to work remotely, you will need to make sure that your "virtual office" has all the tools necessary to perform well. These include access to software most frequently used by firms, such as Caseware, Caseview, Profile, TaxPrep, Quickbooks, Microsoft Office products. Once your profile is approved, we will give you a hand with this.</p>
                                <p>You also want to make sure that your "virtual office" is properly secured. Most businesses already have established processes for sharing files, whether it is the business' portal, Dropbox, Google Drive, or email.</p>
                            </div>
                            <div class="privacy-policy-desc-dtl-single-block">
                                <h2>Are professionals required to sign a confidentiality agreement?</h2>
                                <p>At the start of each engagement, professionals are required to sign a Confidentiality Agreement. Having said that, you are also welcome to request that a professional sign your business'confidentiality agreement. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
