<div class="personal-profile-form-main" id="Project_request">
    <div class="connect-expert-main-desc-dtl">
        <div class="personal-profile-form-head">
            <h4>We have sent your Project Request! </h4>
        </div>
        <div class="schedule-call-mod-desc-dtl-part">
            <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                <div class="schedule-call-mod-desc">
                    <p>If the professional is interested. we will let you know when your call will take place as soon as we
                        hear back. In the meantime. feel free to browse other potential candidates for this project </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                <div class="professional-profile-fild-btn-last">
                    <a href="javascript:;" id="see-your-project" (click)="naviateToOpenProject()">See your Projects</a>
                </div>
            </div>
        </div>
    </div>
</div>