<ng-container *ngIf="isUserNotExistWithToken; else elseView">
    <div class="personal-profile-form-main" id="Project_request">
        <div class="connect-expert-main-desc-dtl">
            <div class="personal-profile-form-head">
                <h4>Link Expired !! </h4>
            </div>
            <div class="schedule-call-mod-desc-dtl-part">
                <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                    <div class="schedule-call-mod-desc">
                        <p>Your Reset password link is expired </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #elseView>
    <div class="modal-body">
        <div class="personal-profile-form-main Business-profile-pop-part" id="password-change-pop">
            <form id="resetForm" #resetForm="ngForm" [ngClass]="{submitted: submitted}">
                <div class="personal-profile-form-head">
                    <h4>Reset Password </h4>
                </div>
                <div class="login-fr-desc-dtl">
                    <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                        <div class="sign-up-firm-fr-fild-inp">
                            <label>New Password</label>
                            <input type="password" name="New Password" id="password-field" placeholder="New Password" class="form-control l-inp" [(ngModel)]="newPassword"
                                required maxlength="15">
                            <span toggle="#password-field" class="field-icon toggle-password">
                                <img src="assets/images/pwd-loak.png">
                            </span>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                        <div class="sign-up-firm-fr-fild-inp">
                            <label>Confirm New Password</label>
                            <input type="password" name="Confirm New Password" id="password-field" placeholder="Confirm New Password" [(ngModel)]="confirmPassword"
                                class="form-control l-inp" required maxlength="15">
                            <span toggle="#password-field" class="field-icon toggle-password">
                                <img src="assets/images/pwd-loak.png">
                            </span>
                        </div>
                    </div>
                    <ng-container *ngIf="errorMessage">
                            <div class="sign-up-firm-fr-fild-inp">
                                <p class="errorColorClass">{{errorMessage}}</p>
                            </div>
                        </ng-container>
                    <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                        <div class="login-fr-btn-part">
                            <input type="submit" name="Update" value="Update" (click)="updatePassword(resetForm)" class="form-control l-inp" id="change-pwd-btn">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>