<!-- START :: FOOTER -->
<div class="footer">
    <div class="footer-tp-part">
        <div class="footer-container">
            <div class="footer-tp-part-subscribe">
                <div class="subscribe">
                    <h4>Subscribe</h4>
                </div>
                <div class="subscribe-inp-box">
                    <div class="subscribe-inp-box-part-bg">
                        <input type="email" name="email" placeholder="Enter your Email Address"
                            class="form-control s-inp">
                    </div>
                </div>
                <div class="submit-btn">
                    <a href="javascript:;">Submit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-mid-sec">
        <div class="footer-container">
            <div class="footer-mid-main-part">
                <div class="col-lg-4 col-md-4 cl-sm-4 col-xs-12 p_0">
                    <div class="footer-logo">
                        <img src="../../assets/images/footer-logo.png">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 cl-sm-4 col-xs-12 p_0">
                    <div class="footer-adr">
                        <h5>Toronto Office</h5>
                        <a href="javascript:;">90 Lorem ipsum dolor. 800 <br>Toronto, ON, M5XX9<br></a>
                        <a href="javascript:;">(416) 999-9999</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 cl-sm-4 col-xs-12 p_0">
                    <div class="footer-social-link">
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <span class="social-cin">
                                        <i class="fab fa-linkedin-in"></i>
                                    </span>
                                    <h6>Linkedin</h6>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="social-cin">
                                        <i class="fab fa-facebook-f"></i>
                                    </span>
                                    <h6>Facebook</h6>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="social-cin">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                    <h6>Instagram</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-btm-link-part">
                <nav>
                    <ul>
                        <li>
                            <a href="javascript:;" class="active" [routerLink]="pathList.CLIENT_URL.home">Home</a>
                        </li>
                        <li>
                            <a href="javascript:;" [routerLink]="pathList.CLIENT_URL.about">About</a>
                        </li>
                        <li>
                            <a href="javascript:;" [routerLink]="pathList.CLIENT_URL.howItWorks">How it Works</a>
                        </li>
                        <li>
                            <a href="javascript:;">Blog</a>
                        </li>
                        <li>
                            <a href="javascript:;">Contact</a>
                        </li>
                        <li>
                            <a href="javascript:;">Terms of Service</a>
                        </li>
                        <li>
                            <a href="javascript:;" [routerLink]="pathList.CLIENT_URL.privacyPolicy">Privacy Policy</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  </div>
  <!-- END :: FOOTER -->