<div class="personal-profile-form-main" id="Project_request">
    <div class="connect-expert-main-desc-dtl">
        <div class="personal-profile-form-head">
            <h4>We have sent your reset password request! </h4>
        </div>
        <div class="schedule-call-mod-desc-dtl-part">
            <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                <div class="schedule-call-mod-desc">
                    <p>You can reset your password from your mail inbox </p>
                </div>
            </div>
        </div>
    </div>
</div>