<app-nav-bar></app-nav-bar>

<!-- START :: PROFILE-COMPLETE -->
<div class="profile-complate-part-main">
    <div class="sign-up-container">
        <div class="profile-complate-wd-center">
            <div class="profile-complate-desc-dtl">
                <ng-container *ngIf="message; else elseView">
                    <h3>{{message}}</h3>
                </ng-container>
                <ng-template #elseView>
                    <h3>Thank you for profile completing your profile our team has started reviewing it
                        <br>already and we will be in touch shorty</h3>
                    <h6>You are Top of Mind and we will get back to you
                        <br> shortly to schedule an interview!</h6>
                </ng-template>
                <div class="profile-complate-pic-part">
                    <img src="assets/images/profile-complete.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START :: PROFILE-COMPLETE -->
<app-footer></app-footer>