<div class="modal-body">
    <div class="personal-profile-form-main Business-profile-pop-part" id="password-change-pop">
        <form id="forGotform" #forGotform="ngForm" [ngClass]="{submitted: submitted}">
            <div class="personal-profile-form-head">
                <h4>Forgot Password?</h4>
            </div>
            <div class="schedule-call-mod-desc-dtl-part">
                <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                    <div class="schedule-call-mod-desc">
                        <p>You can reset your password here.</p>
                    </div>
                </div>
            </div>
            <div class="login-fr-desc-dtl">
                <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                    <div class="sign-up-firm-fr-fild-inp">
                        <label>Email</label>
                        <input type="email" name="Work email" placeholder="Work email" class="form-control l-inp" [(ngModel)]="email" maxlength="50"
                            required appEmailValidator>
                        <p></p>
                    </div>
                </div>
                <ng-container *ngIf="errorMessage && !submitted">
                    <div class="sign-up-firm-fr-fild-inp">
                        <p class="errorColorClass">{{errorMessage}}</p>
                    </div>
                </ng-container>
                <div class="col-lg-12 col-md-12 cl-sm-12 col-xs-12">
                    <div class="login-fr-btn-part">
                        <input type="submit" name="Update" value="Submit" (click)="checkAndSendEmail(forGotform)" class="form-control l-inp" id="change-pwd-btn">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 
<input type="email" name="Work email" placeholder="Work email" class="form-control l-inp" [(ngModel)]="email" maxlength="50"
    required appEmailValidator>
<ng-container *ngIf="firmSignUpForm.invalid && submitted">
    <div class="sign-up-firm-fr-fild-inp">
        <p class="errorColorClass">There are errors on ther form. Please fix them before continuing</p>
    </div>
</ng-container>
<ng-container *ngIf="userAlreadyExist && !submitted">
    <div class="sign-up-firm-fr-fild-inp">
        <p class="errorColorClass">{{userAlreadyExist}}</p>
    </div>
</ng-container>
<div class="login-fr-btn-part">
    <input type="submit" name="Sign up" value="Sign up" (click)="firmSignUp()" class="form-control l-inp" />
</div> -->