<div class="main" id="main-site">
  <app-nav-bar></app-nav-bar>
  <!-- START :: BANNER -->

  <div class="banner-start">
      <div class="banner-img">
          <img src="assets/images/banner.png">
          <div class="banner-containt">
              <div class="container">
                  <div class="row">
                      <div class="banner-cont-sb">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                              <div class="banner-cont-text">
                                  <h1><span>Matching BUSINESSES with </span>accounting professionals.</h1>
                                  <p>It's easier to grow when you're flexible.</p>
                                  <a href="#">Try Now</a>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                              <div class="banner-right-img">
                                  <img src="assets/images/laptop.png">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- END :: BANNER -->


  <!-- START :: CONTAINT -->

  <div class="content-start">
      <div class="container2">
          <div class="Contact-start1">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                  <div class="cont-lefts">
                      <img src="assets/images/1.png">
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                  <div class="cont-right">
                      <h1>it's easier to grow when you're flexible.</h1>
                      <p>Find the right accounting professional for every project, big or small. Redefine flexibility
                          for your business.</p>
                      <a href="#">Book a Demo</a>
                  </div>
              </div>
          </div>

          <div class="Contact-start1">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                  <div class="cont-right">
                      <h1>Maximize your opportunities. Minimize your limits.</h1>
                      <p>Find the freedom and flexibility to choose the clients who align with your goals.</p>
                      <a href="javascript:;"  [routerLink]="pathList.CLIENT_URL.login">Get Started</a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                  <div class="cont-lefts">
                      <img src="assets/images/2.png">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- START :: CONTAINT -->

  <!-- START :: CURVE -->

  <div class="laptop-start" id="howItWork">
      <div class="container">
          <div class="row">
              <div class="laptop-one">
                  <div class="laptop-pos">
                      <img src="assets/images/lpo.png">
                      <div class="title-po">
                          <h2>How It Works</h2>
                      </div>
                  </div>
                  <a href="#">Book a Demo</a>
              </div>

              <div class="laptop-curve">
                  <div class="laprop-start-one">
                      <div class="laptop-sub io">
                          <p>Whether you're an enterprise or an accountant, it all starts here. <a href="">Sign up for
                                  free</a> and create an account.</p>
                          <h3>01</h3>
                      </div>
                      <div class="laptop-sub">
                          <p>You know what's top of mind for your goals and needs. We'll match you with the
                              professionals and clients who align with your vision.</p>
                          <h3>02</h3>
                      </div>
                      <div class="laptop-sub">
                          <p>Find someone who resonates? Connect with them and finalize the scope of the work. </p>
                          <h3>03</h3>
                      </div>
                      <div class="laptop-sub oi">
                          <p>Monitor progress, review completed work and confirm payment once the project is done.
                              After that? The sky's the limit!</p>
                          <h3>04</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- START :: CURVE -->

  <div class="laptpo-botton">
      <div class="banner-start">
          <div class="banner-img">
              <img src="assets/images/oio.png">
              <div class="banner-containt">
                  <div class="container">
                      <div class="row">
                          <div class="banner-cont-sb">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                                  <div class="banner-cont-text">
                                      <h1>What if you could pick and choose the right accounting professional for
                                          every project? </h1>
                                      <p>Or a full-time expert without going through a lengthy hiring process? Someone
                                          whose skills align perfectly with what you're looking to accomplish? We have
                                          that person.</p>
                                      <a href="#">Hire an Expert</a>
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                                  <div class="banner-right-img">
                                      <img src="assets/images/ete.png">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- START :: Proudly Canadian  -->

  <div class="start-produly">
      <div class="container2">
          <div class="start-produly-sub">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 float-left">
                  <div class="start-produly-left">
                      <h6>Proudly Canadian </h6>
                      <h2>Whether you're an enterprise or an accounting expert, your perfect match is out there! </h2>
                      <p>Top of Mind was created by Canadians, for Canadians, to connect you with others who know and
                          understand the landscape of numbers. And because supporting Canadian businesses and
                          professionals is just another thing that's top of mind for us! </p>
                      <a href="#">Learn More</a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 float-left">
                  <div class="start-produly-right">
                      <img src="assets/images/3.png">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- END :: Proudly Canadian  -->

  <!-- START :: find project  -->

  <div class="find-pro-start">
      <div class="find-pro-start-im">
          <img src="assets/images/project.png">
          <div class="project-content">
              <div class="container">
                  <div class="row">
                      <div class="find-pro-start-sub">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                              <div class="find-pro-left-img">
                                  <img src="assets/images/phone.png">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                              <div class="find-pro-right">
                                  <h2>Find the project that will flex your skills so you can take your career in the
                                      direction you want to go. </h2>
                                  <div class="a-custi">
                                      <a href="#">Get Started</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- END :: Find porject   -->

  <app-footer></app-footer>
  <!-- START :: COPYRIGHT -->
  <div class="copyright">
      <p>© 2020 TOP OF MIND. All Rights Reserved. Designed and Developed By Imprint Marketing Group Inc.</p>
  </div>
  <!-- END :: COPYRIGHT -->
</div>
