<!-- responsive-sidebar -->
<div class="sidebar-main desktop-view">
  <div class="top-logo-main">
    <img src="assets/images/dashbord-logo.png" class="logo-img">
    <img src="assets/images/dashbord-logo-small.png" class="logo-img-close-dash">
    <a href="javascript:;" class="close-sidemenu">
      <img src="assets/images/back.png">
    </a>
  </div>
  <div class="sidebar-menu-main">
    <ul>
      <li>
        <a href="javascript:;">
          <span class="m-icon">
            <img src="assets/images/dh-home.png">
          </span>
          <span class="menu-text" [routerLink]="pathList.CLIENT_URL.firmDashBoard">Home</span>
        </a>
      </li>
      <li class="child-menu">
        <a href="javascript:;">
          <span class="m-icon">
            <img src="assets/images/dh-jobs.png">
          </span>
          <span class="menu-text">Project</span>
          <span class="menu-arrow">
            <img src="assets/images/dh-arw.png">
          </span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="javascript:;" (click)="redirectToProject(appConstant.open)">open</a>
          </li>
          <li>
            <a href="javascript:;" (click)="redirectToProject(appConstant.accepted)">Accepted</a>
          </li>
          <li>
            <a href="javascript:;" (click)="redirectToProject(appConstant.history)">Histroy</a>
          </li>
        </ul>
      </li>
      <li class="child-menu">
        <a href="javascript:;">
          <span class="m-icon">
            <img src="assets/images/dh-help.png">
          </span>
          <span class="menu-text">Help</span>
          <span class="menu-arrow">
            <img src="assets/images/dh-arw.png">
          </span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="javascript:;" (click)="redirecToHowItWorks()">How it Work</a>
          </li>
          <li>
            <a href="javascript:;" [routerLink]="pathList.CLIENT_URL.firmHelp">Contact us</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <span class="m-icon">
            <img src="assets/images/dh-notification.png">
          </span>
          <span class="menu-text">Notification</span>
          <span class="notification-txt">1</span>
        </a>
      </li>
      <li class="child-menu">
        <a href="javascript:;">
          <span class="m-icon">
            <img src="assets/images/dh-profile.png">
          </span>
          <span class="menu-text">Profile</span>
          <span class="menu-arrow">
            <img src="assets/images/dh-arw.png">
          </span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="javascript:;" (click)="openBusinessProfile()">Business Profile</a>
          </li>
          <li>
            <a href="javascript:;" (click)="openPersonalProfile()">Personal Profile</a>
          </li>
          <li>
            <a href="javascript:;" (click)="openChangePassword()">Password Change</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <span class="m-icon">
            <img src="assets/images/dh-home.png">
          </span>
          <span class="menu-text" (click)="logoutUser()">Log out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- responsive-sidebar -->