<!-- <button [routerLink]="pathList.CLIENT_URL.firmSignUp">Firm</button>
<button>Professional</button> -->
<app-nav-bar></app-nav-bar>
<!-- START :: SIGN-UP-PART -->
<div class="sign-up-main-part">
    <div class="sign-up-container">
        <div class="row">
            <div class="sign-two-boxes-tp-head">
                <h1>Create your Free Account</h1>
                <p>Whether you're an accounting professional or looking to hire one, it all starts here.</p>
            </div>
            <div class="sign-two-boxes">
                <div class="col-lg-6 col-md-6 cl-sm-6 col-xs-12">
                    <div class="sign-desc-dtl-box">
                        <div class="sign-bg-box-desc-dtl">
                            <h6>For Businesses</h6>
                            <h5>Find the accounting professional for your specific project or role. </h5>
                            <p>Having the right professional on hand for your accounting demands can increase
                                productivity across the board.</p>
                            <img src="assets/images/sign-up-pic1.png">
                            <div class="sign-up-btn">
                                <a href="javascript:;" [routerLink]="pathList.CLIENT_URL.firmSignUp">Hire an expert</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 cl-sm-6 col-xs-12">
                    <div class="sign-desc-dtl-box">
                        <div class="sign-bg-box-desc-dtl">
                            <h6>For Professionals </h6>
                            <h5>Open your very own virtual accounting office.</h5>
                            <p>Have the freedom and flexibility to choose the projects you want to work on, whether
                                full-time or part-time.</p>
                            <img src="assets/images/sign-up-pic2.png">
                            <div class="sign-up-btn">
                                <a href="javascript:;" [routerLink]="pathList.CLIENT_URL.proSignUp">Get Next Project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sign-up-mind-work">
                <h6>How does <a href="javascript:;">Top Of Mind work</a>?</h6>
            </div>
        </div>
    </div>
</div>
<!-- START :: SIGN-UP-PART -->
<app-footer></app-footer>